/*yahoo reset http://developer.yahoo.com/yui/reset/*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/*end reset*/
body {
  width: 600px;
  margin: 0 auto;
  font-family: "helvetica neue",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 40px;
}

h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 24px 0 6px;
  color: #000;
  font-family:georgia;
  font-weight: normal;
}

.readin {
font-family: georgia;
font-size: 15px;
line-height: 1.4em;
border-bottom: 1px solid #ccc;
padding-bottom: 25px;
padding-top: 8px;
}
.subhed {
  font-family: arial;
  font-weight: bold;
  font-size: 15px;
  margin-top: 14px;
}

   .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
   .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
   .legend-scale ul li {
    display: block;
    float: left;
    font-size:11px;
    width: 72px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
ul.legend-labels li span {
display: block;
float: left;
height: 10px;
width: 70px;
margin-bottom: 3px;
}
   .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
   a {
    color: #777;
    }




